<?xml version="1.0"?>
<launch>

  <!--#>>>>TODO: LAUNCH A NODE TO PUBLISH AN STATIC TRANSFORMATION BETWEEN /map and /WORLD WITH A FREQ 100-->
  <node pkg="tf" type="static_transform_publisher" name="static_transformation" args="0 0 0 0 0 0 /world /map 100"/>
  <!--LAUNCH RVIZ NODE -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_vis)/launch/rvizConfigs/turtleTutorial.rviz"/>

  <!--#>>>>TODO:LAUNCH TURTLE VISUALIZATION NODE-->
  <node pkg="turtle_vis" type= "turtle_vis_node" name="turtle_vis_node"/>

  <!--#>>>>TODO:LAUNCH TURTLE CONTROL NODE. AS PART OF THIS NODE LOAD THE YAML FILE WITH THE GAIN PARAMETERS (SEE rvizConfigs/turtle_gains.yaml)-->
  <node pkg="turtle_vis" type= "turtle_control_node" name="turtle_control_node" output="screen"/>
  <rosparam command="load" file="$(find turtle_vis )/configs/turtle_vis_p_gain.yaml"/>
 
 
</launch>
